streamlit
matplotlib
numpy
scipy
PyWavelets
SoundFile
librosa
essentia
PyAudio
audioread
blinker
webencodings
wcwidth
Send2Trash
pytz
ptyprocess
pickleshare
mistune
ipython-genutils
fastjsonschema
certifi
backcall
appdirs
zipp
watchdog
urllib3
tzdata
typing-extensions
traitlets
tornado
toolz
toml
tinycss2
threadpoolctl
soupsieve
smmap
six
setuptools
semver
pyzmq
pyyaml
pyrsistent
pyparsing
pympler
pygments
pycparser
psutil
protobuf
prompt-toolkit
prometheus-client
pillow
pexpect
parso
pandocfilters
nest-asyncio
MarkupSafe
llvmlite
jupyterlab-widgets
jupyterlab-pygments
joblib
idna
fonttools
entrypoints
defusedxml
decorator
debugpy
cycler
charset-normalizer
cachetools
backports.zoneinfo
attrs
validators
terminado
requests
pytz-deprecation-shim
python-dateutil
pyarrow
packaging
numba
matplotlib-inline
kiwisolver
jupyter-core
jinja2
jedi
importlib-resources
importlib-metadata
gitdb
cffi
bleach
beautifulsoup4
tzlocal
scikit-learn
resampy
pooch
pandas
jupyter-client
jsonschema
ipython
gitpython
click
argon2-cffi-bindings
nbformat
ipykernel
argon2-cffi
altair
nbclient
nbconvert
notebook
widgetsnbextension
ipywidgets
pydeck
