*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.display{
    width: 100%;
    padding: 25px 0;
    margin: 25px 0;
}

.controllers{
    width: 100%;
    padding: 25px 0;
    margin: 25px 0;
}

button{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin: 10px;
    font-size: 16px;
    background-color: #262730;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0.25rem;
}

button:hover{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin: 10px;
    font-size: 16px;
    background-color: #262730;
    color: #e3fc03;
    border: 2px solid #e3fc03;
    border-radius: 0.25rem;
}
